body {
    text-align: center;
     background-image:url(gradient.jpg);
    background-repeat:no-repeat;
    background-size: cover;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

#pixelCanvas {
  background-color: white;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    border: 5px ridge black;
}

tr {
    height: 15px;
}

td {
    width: 15px;
}

input[type=number] {
    width: 3em;
}

#button,
#resetButton {
  background-color: black;
  color: white;
}

.sizePicker {
  font-size: 18px;
  font-family: constantia;
}

.help {
  display: inline-block;
  text-align: center;
  background-color: greenyellow;
  border: 3px solid #abd;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  font-size: 16px;
  line-height: 26px;
  cursor: help;
  position: absolute;
  margin-left: 5px;
  margin-top: -7px;
}

.help::before {
  content: '?';
  font-weight: bold;
}

.help
p {
  display: none;
  text-align: left;
  background-color: white;
  padding: 20px;
  width: 300px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  color: black;
  font-size: 17px;
  line-height: 1.4;
}

.help
p::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  top: 50%;
  left: 1.65%;
  transform: translateY(-405%) rotate(-90deg);
  transform-origin: -30% 120%;
}

.help:hover
p {
  display: block;
  transform:  translatex(12%) translatey(-40%) rotate(0);
  transform-origin: 100% 100%;
  -webkit-animation: fadeIn 3s ease-in-out;
  animation: fadeIn 3s ease-in-out;
}
